body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.body-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  margin-bottom: 10em; /* Ajustez cette valeur à la hauteur de votre footer */

}


header {
    background-color: #137f65;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
    position: relative;
}

.boisson {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.boisson-all {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 1em 0;
    border-radius: 10px;
}

.boisson-image {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em 0;
}

.boisson img {
    max-width: 100%;
    height: auto;
}

.boisson-info {
    padding: 1em;
}

footer {
    background-color: #137f65;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.carrousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carrousel-items {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si l'espace est insuffisant */
    justify-content: space-around; /* Espacement autour des éléments */
    overflow: hidden; /* Cache les éléments hors du conteneur visible */

}


.carrousel .boisson-carrousel {
    flex: 1 1 calc(33.333% - 20px); /* Prendre 1/3 de l'espace disponible, ajuster le 20px selon le besoin */
    box-sizing: border-box;
    margin: 10px; /* Ajustez selon vos besoins pour l'espacement */
    display: flex;
    flex-direction: column;
    align-items: center;
  display: none; /* Cache tous les éléments de boisson par défaut */
}

/* Assurez-vous que les images s'adaptent bien dans leurs conteneurs */
.carrousel .boisson img {
    width: 100%; /* Ajustez cette valeur au besoin */
    height: auto; /* Pour conserver les proportions */
}

button.prev,
button.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.8);
}

button.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

button.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

button.prev:hover, button.next:hover {
    background-color: rgba(0,0,0,1);
}
