/****  Fonts    ****/

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900

.merienda-uniquifier> {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

h1, h2{
    font-family: Merienda, sans-serif;
  }