$color-primaryback:#f6f6f6;
$color-secondaryback: #f5edff;
$color-primary: #9B7057;
$color-secondary: #FFF7F1;
$color-tertiaire: #CB9C81;
$color-quaternaire: #3C0753; //FF6666
$color-new: #99e2d0;

$color-daymode:#f6f6f6;
$color-nightmode:#1a1a1a;

$font-principale: "Shrikhand", serif; 
$font-secondaire: "Roboto", serif; 